
/Source/ConsoleAppTester/bin/Debug/ConsoleAppTester.exe
/Source/ConsoleAppTester/bin/Debug/ConsoleAppTester.exe.config
/Source/ConsoleAppTester/bin/Debug/ConsoleAppTester.pdb
/Source/ConsoleAppTester/bin/Debug/NLog.dll
/Source/ConsoleAppTester/bin/Debug/NLog.xml
/Source/ConsoleAppTester/obj/x86/Debug/ConsoleAppTester.csproj.FileListAbsolute.txt
/Source/ConsoleAppTester/obj/x86/Debug/ConsoleAppTester.exe
/Source/ConsoleAppTester/obj/x86/Debug/ConsoleAppTester.pdb
/Source/ConsoleAppTester/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TimberMill.Data/bin/Debug/EntityFramework.dll
/Source/TimberMill.Data/bin/Debug/EntityFramework.xml
/Source/TimberMill.Data/bin/Debug/NLog.dll
/Source/TimberMill.Data/bin/Debug/NLog.xml
/Source/TimberMill.Data/bin/Debug/TimberMill.Data.dll
/Source/TimberMill.Data/bin/Debug/TimberMill.Data.pdb
/Source/TimberMill.Data/bin/Debug/TimberMill.Domain.dll
/Source/TimberMill.Data/bin/Debug/TimberMill.Domain.pdb
/Source/TimberMill.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TimberMill.Data/obj/Debug/ResolveAssemblyReference.cache
/Source/TimberMill.Data/obj/Debug/TimberMill.Data.csproj.FileListAbsolute.txt
/Source/TimberMill.Data/obj/Debug/TimberMill.Data.dll
/Source/TimberMill.Data/obj/Debug/TimberMill.Data.pdb
/Source/TimberMill.Domain/bin/Debug/NLog.dll
/Source/TimberMill.Domain/bin/Debug/NLog.xml
/Source/TimberMill.Domain/bin/Debug/TimberMill.Domain.dll
/Source/TimberMill.Domain/bin/Debug/TimberMill.Domain.pdb
/Source/TimberMill.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TimberMill.Domain/obj/Debug/TimberMill.Domain.csproj.FileListAbsolute.txt
/Source/TimberMill.Domain/obj/Debug/TimberMill.Domain.dll
/Source/TimberMill.Domain/obj/Debug/TimberMill.Domain.pdb
/Source/TimberMill.Service/bin/Autofac.Configuration.dll
/Source/TimberMill.Service/bin/Autofac.Integration.Wcf.dll
/Source/TimberMill.Service/bin/Autofac.dll
/Source/TimberMill.Service/bin/Autofac.xml
/Source/TimberMill.Service/bin/EntityFramework.dll
/Source/TimberMill.Service/bin/EntityFramework.xml
/Source/TimberMill.Service/bin/NLog.dll
/Source/TimberMill.Service/bin/NLog.xml
/Source/TimberMill.Service/bin/TimberMill.Data.dll
/Source/TimberMill.Service/bin/TimberMill.Data.pdb
/Source/TimberMill.Service/bin/TimberMill.Domain.dll
/Source/TimberMill.Service/bin/TimberMill.Domain.pdb
/Source/TimberMill.Service/bin/TimberMill.Service.dll
/Source/TimberMill.Service/bin/TimberMill.Service.pdb
/Source/TimberMill.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TimberMill.Service/obj/Debug/ResolveAssemblyReference.cache
/Source/TimberMill.Service/obj/Debug/TimberMill.Service.csproj.FileListAbsolute.txt
/Source/TimberMill.Service/obj/Debug/TimberMill.Service.dll
/Source/TimberMill.Service/obj/Debug/TimberMill.Service.pdb
/Source/TimberMill.Web/bin/EntityFramework.dll
/Source/TimberMill.Web/bin/EntityFramework.xml
/Source/TimberMill.Web/bin/TimberMill.Web.dll
/Source/TimberMill.Web/bin/TimberMill.Web.pdb
/Source/TimberMill.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TimberMill.Web/obj/Debug/TimberMill.Web.csproj.FileListAbsolute.txt
/Source/TimberMill.Web/obj/Debug/TimberMill.Web.dll
/Source/TimberMill.Web/obj/Debug/TimberMill.Web.pdb
/Source/_ReSharper.TimberMill/BuildScriptCache/.crc
/Source/_ReSharper.TimberMill/BuildScriptCache/.version
/Source/_ReSharper.TimberMill/BuildScriptCache/6/7d8ee2d9.dat
/Source/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-d7b0/Assembly.Location.txt
/Source/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-d7b0/NLog.LogReceiverService.ILogReceiverServer.cs
/Source/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-d7b0/NLog.LogReceiverService.ILogReceiverServer.cs.flags
/Source/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-d7b0/NLog.LogReceiverService.ILogReceiverServer.cs.info
/Source/_ReSharper.TimberMill/ModuleIds.xml
/Source/_ReSharper.TimberMill/NamedArguments/.crc
/Source/_ReSharper.TimberMill/NamedArguments/.version
/Source/_ReSharper.TimberMill/NamedArguments/6/7d8ee2d9.dat
/Source/_ReSharper.TimberMill/ProjectModel/ProjectModel.dat
/Source/_ReSharper.TimberMill/Resources/.crc
/Source/_ReSharper.TimberMill/Resources/.version
/Source/_ReSharper.TimberMill/SymbolCache.bin
/Source/_ReSharper.TimberMill/TagPrefixes/.crc
/Source/_ReSharper.TimberMill/TagPrefixes/.version
/Source/_ReSharper.TimberMill/TagPrefixes/0/567abf0e.dat
/Source/_ReSharper.TimberMill/TodoCache/.crc
/Source/_ReSharper.TimberMill/TodoCache/.version
/Source/_ReSharper.TimberMill/TodoCache/0/567abf0e.dat
/Source/_ReSharper.TimberMill/WebsiteFileReferences/.crc
/Source/_ReSharper.TimberMill/WebsiteFileReferences/.version
/Source/_ReSharper.TimberMill/WordIndex/.crc
/Source/_ReSharper.TimberMill/WordIndex/.version
/Source/_ReSharper.TimberMill/WordIndex/8/4a31c468.dat
*.user
/_ReSharper.TimberMill/BuildScriptCache/.crc
/_ReSharper.TimberMill/BuildScriptCache/.version
/_ReSharper.TimberMill/BuildScriptCache/6/22777810.dat
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-d7b0/Assembly.Location.txt
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-d7b0/NLog.LogReceiverService.ILogReceiverServer.cs
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-d7b0/NLog.LogReceiverService.ILogReceiverServer.cs.flags
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-d7b0/NLog.LogReceiverService.ILogReceiverServer.cs.info
/_ReSharper.TimberMill/ModuleIds.xml
/_ReSharper.TimberMill/NamedArguments/.crc
/_ReSharper.TimberMill/NamedArguments/.version
/_ReSharper.TimberMill/NamedArguments/6/7d8ee2d9.dat
/_ReSharper.TimberMill/ProjectModel/ProjectModel.dat
/_ReSharper.TimberMill/Resources/.crc
/_ReSharper.TimberMill/Resources/.version
/_ReSharper.TimberMill/SymbolCache.bin
/_ReSharper.TimberMill/TagPrefixes/.crc
/_ReSharper.TimberMill/TagPrefixes/.version
/_ReSharper.TimberMill/TagPrefixes/6/22777810.dat
/_ReSharper.TimberMill/TodoCache/.crc
/_ReSharper.TimberMill/TodoCache/.version
/_ReSharper.TimberMill/TodoCache/0/567abf0e.dat
/_ReSharper.TimberMill/WebsiteFileReferences/.crc
/_ReSharper.TimberMill/WebsiteFileReferences/.version
/_ReSharper.TimberMill/WordIndex/.crc
/_ReSharper.TimberMill/WordIndex/.version
/_ReSharper.TimberMill/WordIndex/8/4a31c468.dat