
/Source/ConsoleAppTester/bin/Debug/ConsoleAppTester.exe
/Source/ConsoleAppTester/bin/Debug/ConsoleAppTester.exe.config
/Source/ConsoleAppTester/bin/Debug/ConsoleAppTester.pdb
/Source/ConsoleAppTester/bin/Debug/NLog.dll
/Source/ConsoleAppTester/bin/Debug/NLog.xml
/Source/ConsoleAppTester/obj/x86/Debug/ConsoleAppTester.csproj.FileListAbsolute.txt
/Source/ConsoleAppTester/obj/x86/Debug/ConsoleAppTester.exe
/Source/ConsoleAppTester/obj/x86/Debug/ConsoleAppTester.pdb
/Source/ConsoleAppTester/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TimberMill.Data/bin/Debug/EntityFramework.dll
/Source/TimberMill.Data/bin/Debug/EntityFramework.xml
/Source/TimberMill.Data/bin/Debug/NLog.dll
/Source/TimberMill.Data/bin/Debug/NLog.xml
/Source/TimberMill.Data/bin/Debug/TimberMill.Data.dll
/Source/TimberMill.Data/bin/Debug/TimberMill.Data.pdb
/Source/TimberMill.Data/bin/Debug/TimberMill.Domain.dll
/Source/TimberMill.Data/bin/Debug/TimberMill.Domain.pdb
/Source/TimberMill.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TimberMill.Data/obj/Debug/ResolveAssemblyReference.cache
/Source/TimberMill.Data/obj/Debug/TimberMill.Data.csproj.FileListAbsolute.txt
/Source/TimberMill.Data/obj/Debug/TimberMill.Data.dll
/Source/TimberMill.Data/obj/Debug/TimberMill.Data.pdb
/Source/TimberMill.Domain/bin/Debug/NLog.dll
/Source/TimberMill.Domain/bin/Debug/NLog.xml
/Source/TimberMill.Domain/bin/Debug/TimberMill.Domain.dll
/Source/TimberMill.Domain/bin/Debug/TimberMill.Domain.pdb
/Source/TimberMill.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TimberMill.Domain/obj/Debug/TimberMill.Domain.csproj.FileListAbsolute.txt
/Source/TimberMill.Domain/obj/Debug/TimberMill.Domain.dll
/Source/TimberMill.Domain/obj/Debug/TimberMill.Domain.pdb
/Source/TimberMill.Service/bin/Autofac.Configuration.dll
/Source/TimberMill.Service/bin/Autofac.Integration.Wcf.dll
/Source/TimberMill.Service/bin/Autofac.dll
/Source/TimberMill.Service/bin/Autofac.xml
/Source/TimberMill.Service/bin/EntityFramework.dll
/Source/TimberMill.Service/bin/EntityFramework.xml
/Source/TimberMill.Service/bin/NLog.dll
/Source/TimberMill.Service/bin/NLog.xml
/Source/TimberMill.Service/bin/TimberMill.Data.dll
/Source/TimberMill.Service/bin/TimberMill.Data.pdb
/Source/TimberMill.Service/bin/TimberMill.Domain.dll
/Source/TimberMill.Service/bin/TimberMill.Domain.pdb
/Source/TimberMill.Service/bin/TimberMill.Service.dll
/Source/TimberMill.Service/bin/TimberMill.Service.pdb
/Source/TimberMill.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TimberMill.Service/obj/Debug/ResolveAssemblyReference.cache
/Source/TimberMill.Service/obj/Debug/TimberMill.Service.csproj.FileListAbsolute.txt
/Source/TimberMill.Service/obj/Debug/TimberMill.Service.dll
/Source/TimberMill.Service/obj/Debug/TimberMill.Service.pdb
/Source/TimberMill.Web/bin/EntityFramework.dll
/Source/TimberMill.Web/bin/EntityFramework.xml
/Source/TimberMill.Web/bin/TimberMill.Web.dll
/Source/TimberMill.Web/bin/TimberMill.Web.pdb
/Source/TimberMill.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TimberMill.Web/obj/Debug/TimberMill.Web.csproj.FileListAbsolute.txt
/Source/TimberMill.Web/obj/Debug/TimberMill.Web.dll
/Source/TimberMill.Web/obj/Debug/TimberMill.Web.pdb
/Source/_ReSharper.TimberMill/BuildScriptCache/.crc
/Source/_ReSharper.TimberMill/BuildScriptCache/.version
/Source/_ReSharper.TimberMill/BuildScriptCache/6/7d8ee2d9.dat
/Source/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-d7b0/Assembly.Location.txt
/Source/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-d7b0/NLog.LogReceiverService.ILogReceiverServer.cs
/Source/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-d7b0/NLog.LogReceiverService.ILogReceiverServer.cs.flags
/Source/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-d7b0/NLog.LogReceiverService.ILogReceiverServer.cs.info
/Source/_ReSharper.TimberMill/ModuleIds.xml
/Source/_ReSharper.TimberMill/NamedArguments/.crc
/Source/_ReSharper.TimberMill/NamedArguments/.version
/Source/_ReSharper.TimberMill/NamedArguments/6/7d8ee2d9.dat
/Source/_ReSharper.TimberMill/ProjectModel/ProjectModel.dat
/Source/_ReSharper.TimberMill/Resources/.crc
/Source/_ReSharper.TimberMill/Resources/.version
/Source/_ReSharper.TimberMill/SymbolCache.bin
/Source/_ReSharper.TimberMill/TagPrefixes/.crc
/Source/_ReSharper.TimberMill/TagPrefixes/.version
/Source/_ReSharper.TimberMill/TagPrefixes/0/567abf0e.dat
/Source/_ReSharper.TimberMill/TodoCache/.crc
/Source/_ReSharper.TimberMill/TodoCache/.version
/Source/_ReSharper.TimberMill/TodoCache/0/567abf0e.dat
/Source/_ReSharper.TimberMill/WebsiteFileReferences/.crc
/Source/_ReSharper.TimberMill/WebsiteFileReferences/.version
/Source/_ReSharper.TimberMill/WordIndex/.crc
/Source/_ReSharper.TimberMill/WordIndex/.version
/Source/_ReSharper.TimberMill/WordIndex/8/4a31c468.dat
*.user
/_ReSharper.TimberMill/BuildScriptCache/.crc
/_ReSharper.TimberMill/BuildScriptCache/.version
/_ReSharper.TimberMill/BuildScriptCache/6/22777810.dat
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-d7b0/Assembly.Location.txt
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-d7b0/NLog.LogReceiverService.ILogReceiverServer.cs
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-d7b0/NLog.LogReceiverService.ILogReceiverServer.cs.flags
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-d7b0/NLog.LogReceiverService.ILogReceiverServer.cs.info
/_ReSharper.TimberMill/ModuleIds.xml
/_ReSharper.TimberMill/NamedArguments/.crc
/_ReSharper.TimberMill/NamedArguments/.version
/_ReSharper.TimberMill/NamedArguments/6/7d8ee2d9.dat
/_ReSharper.TimberMill/ProjectModel/ProjectModel.dat
/_ReSharper.TimberMill/Resources/.crc
/_ReSharper.TimberMill/Resources/.version
/_ReSharper.TimberMill/SymbolCache.bin
/_ReSharper.TimberMill/TagPrefixes/.crc
/_ReSharper.TimberMill/TagPrefixes/.version
/_ReSharper.TimberMill/TagPrefixes/6/22777810.dat
/_ReSharper.TimberMill/TodoCache/.crc
/_ReSharper.TimberMill/TodoCache/.version
/_ReSharper.TimberMill/TodoCache/0/567abf0e.dat
/_ReSharper.TimberMill/WebsiteFileReferences/.crc
/_ReSharper.TimberMill/WebsiteFileReferences/.version
/_ReSharper.TimberMill/WordIndex/.crc
/_ReSharper.TimberMill/WordIndex/.version
/_ReSharper.TimberMill/WordIndex/8/4a31c468.dat
/Source/ConsoleAppTester/bin/Debug/ConsoleAppTester.vshost.exe
/Source/ConsoleAppTester/bin/Debug/ConsoleAppTester.vshost.exe.config
/Source/ConsoleAppTester/bin/Debug/ConsoleAppTester.vshost.exe.manifest
/Source/ConsoleAppTester/obj/x86/Debug/TempPE/Service References.TimberMill.Service.Reference.cs.dll
*.suo
/Source/ConsoleAppTester/Service References/TimberMill.Service/Reference.cs
/Source/ConsoleAppTester/Service References/TimberMill.Service/Reference.svcmap
/Source/ConsoleAppTester/Service References/TimberMill.Service/TimberMillService.disco
/Source/ConsoleAppTester/Service References/TimberMill.Service/TimberMillService.wsdl
/Source/ConsoleAppTester/Service References/TimberMill.Service/TimberMillService.xsd
/Source/ConsoleAppTester/Service References/TimberMill.Service/TimberMillService1.wsdl
/Source/ConsoleAppTester/Service References/TimberMill.Service/TimberMillService1.xsd
/Source/ConsoleAppTester/Service References/TimberMill.Service/configuration.svcinfo
/Source/ConsoleAppTester/Service References/TimberMill.Service/configuration91.svcinfo
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-39f5/Assembly.Location.txt
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-39f5/NLog.LogReceiverService.ILogReceiverServer.cs
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-39f5/NLog.LogReceiverService.ILogReceiverServer.cs.flags
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-39f5/NLog.LogReceiverService.ILogReceiverServer.cs.info
/Source/ConsoleAppTester/bin/Debug/NLog.pdb
/Source/ConsoleAppTester/obj/x86/Debug/TempPE/Service References.ServiceReference1.Reference.cs.dll
/_ReSharper.TimberMill/PdbInfo/015afe438c8051f04f468993ebc88c06a13fdad5
/Source/TimberMill.Tests/bin/Debug/Autofac.Configuration.dll
/Source/TimberMill.Tests/bin/Debug/Autofac.Integration.Wcf.dll
/Source/TimberMill.Tests/bin/Debug/Autofac.dll
/Source/TimberMill.Tests/bin/Debug/Autofac.xml
/Source/TimberMill.Tests/bin/Debug/EntityFramework.dll
/Source/TimberMill.Tests/bin/Debug/EntityFramework.xml
/Source/TimberMill.Tests/bin/Debug/Kraken.Framework.Core.FullFx.dll
/Source/TimberMill.Tests/bin/Debug/Kraken.Framework.Core.FullFx.pdb
/Source/TimberMill.Tests/bin/Debug/Kraken.Framework.Core.dll
/Source/TimberMill.Tests/bin/Debug/Kraken.Framework.Core.pdb
/Source/TimberMill.Tests/bin/Debug/Kraken.Framework.TestMonkey.dll
/Source/TimberMill.Tests/bin/Debug/Kraken.Framework.TestMonkey.pdb
/Source/TimberMill.Tests/bin/Debug/Kraken.Framework.Testing.dll
/Source/TimberMill.Tests/bin/Debug/Kraken.Framework.Testing.pdb
/Source/TimberMill.Tests/bin/Debug/NLog.dll
/Source/TimberMill.Tests/bin/Debug/TimberMill.Data.dll
/Source/TimberMill.Tests/bin/Debug/TimberMill.Data.pdb
/Source/TimberMill.Tests/bin/Debug/TimberMill.Domain.dll
/Source/TimberMill.Tests/bin/Debug/TimberMill.Domain.pdb
/Source/TimberMill.Tests/bin/Debug/TimberMill.Service.dll
/Source/TimberMill.Tests/bin/Debug/TimberMill.Service.pdb
/Source/TimberMill.Tests/bin/Debug/TimberMill.Tests.dll
/Source/TimberMill.Tests/bin/Debug/TimberMill.Tests.dll.config
/Source/TimberMill.Tests/bin/Debug/TimberMill.Tests.dll.nunit
/Source/TimberMill.Tests/bin/Debug/TimberMill.Tests.pdb
/Source/TimberMill.Tests/bin/Debug/TimberMill.Web.dll
/Source/TimberMill.Tests/bin/Debug/TimberMill.Web.pdb
/Source/TimberMill.Tests/bin/Debug/nunit.framework.dll
/Source/TimberMill.Tests/bin/Debug/nunit.framework.xml
/Source/TimberMill.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/TimberMill.Tests/obj/Debug/ResolveAssemblyReference.cache
/Source/TimberMill.Tests/obj/Debug/TimberMill.Tests.csproj.FileListAbsolute.txt
/Source/TimberMill.Tests/obj/Debug/TimberMill.Tests.dll
/Source/TimberMill.Tests/obj/Debug/TimberMill.Tests.pdb
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-39f5/NLog.LogEventInfo.cs
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-39f5/NLog.LogEventInfo.cs.flags
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-39f5/NLog.LogEventInfo.cs.info
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-39f5/NLog.LogLevel.cs
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-39f5/NLog.LogLevel.cs.flags
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-39f5/NLog.LogLevel.cs.info
/_ReSharper.TimberMill/PdbInfo/7b4463916d42155fa9c8b1a014541d2026f938e1
/_ReSharper.TimberMill/PdbInfo/9b84ee5259897db10e04e809aeb8a2eb6ab9d295
/_ReSharper.TimberMill/PdbInfo/a8711c2687ee5b890bfed8b738dec0a8047a76cf
/_ReSharper.TimberMill/PdbInfo/bd5a9da857985dff08dfe6490f600441812e1ce1
/_ReSharper.TimberMill/PdbInfo/ec865081b0bccd342d67b905692330e3de27a520
/Source/TimberMill.Web/bin/Autofac.Configuration.dll
/Source/TimberMill.Web/bin/Autofac.Integration.Wcf.dll
/Source/TimberMill.Web/bin/Autofac.dll
/Source/TimberMill.Web/bin/Autofac.xml
/Source/TimberMill.Web/bin/NLog.dll
/Source/TimberMill.Web/bin/NLog.xml
/Source/TimberMill.Web/bin/TimberMill.Data.dll
/Source/TimberMill.Web/bin/TimberMill.Data.pdb
/Source/TimberMill.Web/bin/TimberMill.Domain.dll
/Source/TimberMill.Web/bin/TimberMill.Domain.pdb
/Source/TimberMill.Tests/obj/Debug/build.force
/_ReSharper.TimberMill/DecompilerCache/metadata/mscorlib-d4f7/Assembly.Location.txt
/_ReSharper.TimberMill/DecompilerCache/metadata/mscorlib-d4f7/System.Exception.cs
/_ReSharper.TimberMill/DecompilerCache/metadata/mscorlib-d4f7/System.Exception.cs.flags
/_ReSharper.TimberMill/DecompilerCache/metadata/mscorlib-d4f7/System.Exception.cs.info
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-af65/Assembly.Location.txt
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-af65/NLog.LogLevel.cs
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-af65/NLog.LogLevel.cs.flags
/_ReSharper.TimberMill/DecompilerCache/metadata/NLog-af65/NLog.LogLevel.cs.info
/Source\TimberMill.Data\obj\Debug/build.force
/Source\TimberMill.Tests\bin\Debug/NLog.xml
/Source\TimberMill.Tests\bin\Debug/NLog.xml
/Source\TimberMill.Tests\bin\Debug/NLog.xml
/Source\TimberMill.Web\bin/Web.config
/Source\TimberMill.Tests\bin\Debug/NLog.xml
/Source\TimberMill.Web\bin/Web.config
/Source\TimberMill.Tests\bin\Debug/NLog.xml
/Source\TimberMill.Web\bin/Kraken.Framework.Core.FullFx.dll
/Source\TimberMill.Web\bin/Kraken.Framework.Core.FullFx.pdb
/Source\TimberMill.Web\bin/Kraken.Framework.Core.dll
/Source\TimberMill.Web\bin/Kraken.Framework.Core.pdb
/Source\TimberMill.Web\bin/Web.config
/_ReSharper.TimberMill\PdbInfo/70998f0933f850ff5e977f30823bde06c385d447
/_ReSharper.TimberMill\PdbInfo/c5daf04b18ce305d3b5ca41d059503bce4ecd8c0
/Source\TimberMill.Tests\bin\Debug/NLog.xml
/Source\TimberMill.Web\bin/Kraken.Framework.Core.FullFx.dll
/Source\TimberMill.Web\bin/Kraken.Framework.Core.FullFx.pdb
/Source\TimberMill.Web\bin/Kraken.Framework.Core.dll
/Source\TimberMill.Web\bin/Kraken.Framework.Core.pdb
/Source\TimberMill.Web\bin/Web.config
/_ReSharper.TimberMill\PdbInfo/70998f0933f850ff5e977f30823bde06c385d447
/_ReSharper.TimberMill\PdbInfo/c5daf04b18ce305d3b5ca41d059503bce4ecd8c0
