<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />

  </configSections>
  <connectionStrings>
    <add name="TimberMillDbContext" connectionString="Data Source=|DataDirectory|TimberMill.Database.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="TimberMill.Service.TimberMillService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost" />
          </baseAddresses>
        </host>
        <endpoint address="/wsHttp" binding="wsHttpBinding" contract="NLog.LogReceiverService.ILogReceiverServer" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="" maxReceivedMessageSize="4194304">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug 
            includeExceptionDetailInFaults="true" 
            httpHelpPageEnabled="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <nlog throwsExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="Kraken.Logging.Nlog" />
    </extensions>
    <variable name="logDirectory" value="D:\Logs\TimberMill\Dev\Service" />
    <variable name="filenamePrefix" value="TimberMill.Service" />
    <variable name="defaultLayout" value="${longdate} | ${level:uppercase=true:padding=5} | ${message} | ${exception:format=type,tostring}" />
    <targets>

      <target name="FileInfo" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block">
        <target name="FileInfo" xsi:type="File" fileName="${logDirectory}\${filenamePrefix}.${shortdate}.log" layout="${defaultLayout}" />
      </target>
     
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="FileInfo" />
    </rules>
  </nlog>
</configuration>