<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>

	<connectionStrings>
		<add  name="TimberMillDbContext"
					connectionString="Application Name=[Dev] TimberMill.Web;Data Source=localhost\sql2012;Initial Catalog=TimberMillDev;User Id=timbermill_user;Password=Dk6^6kWrt;Trusted_Connection=False;Persist Security Info=True;Connect Timeout=5;"
					providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key="webpages:Version" value="1.0.0.0"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="2880" />
		</authentication>

		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages"/>
			</namespaces>
		</pages>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="true"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ExceptionManagementHttpModule" type="Kraken.Framework.Core.Web.ExceptionManagementHttpModule" />
    </modules>
	</system.webServer>

	<system.serviceModel>
		<services>
			<service name="TimberMill.Web.LogReceiverService">
				<endpoint binding="basicHttpBinding" bindingConfiguration="basicHttpBind"
					name="basicEnd" contract="NLog.LogReceiverService.ILogReceiverServer" />
			</service>
		</services>
		<bindings>
			<basicHttpBinding>
				<binding name="basicHttpBind" />
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug
						includeExceptionDetailInFaults="true"
						httpHelpPageEnabled="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

  <nlog throwsExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="Kraken.Logging.Nlog" />
    </extensions>

    <variable name="environment" value="dev"/>
    <variable name="logDirectory" value="D:\Logs\TimberMill\${environment}\Web" />
    <variable name="filenamePrefix" value="TimberMill.Web" />
    <variable name="defaultLayout" value="${longdate} | ${level:uppercase=true:padding=5} | ${message} | ${exception:format=type,tostring}" />
    <targets>

      <target name="FileInfo" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block">
        <target name="FileInfo" xsi:type="File" fileName="${logDirectory}\${filenamePrefix}.${shortdate}.log" layout="${defaultLayout}" />
      </target>

    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="FileInfo" />
    </rules>
  </nlog>
</configuration>
