<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="defaultLayout" value="${longdate} ${level:uppercase=true:padding=5} | ${message} | ${exception:format=tostring}"/>
    <targets>
      <target name="Trace"        xsi:type="Trace"          layout="${defaultLayout}" />
      <target name="ColorConsole" xsi:type="ColoredConsole" layout="${defaultLayout}"/>

      <target xsi:type="LogReceiverService"
          name="TimberMill"
          endpointConfigurationName="String"
          endpointAddress="String"
          useBinaryEncoding="Boolean"
          clientId="Layout"
          includeEventProperties="Boolean">

          <parameter layout="Layout" name="String" type="System.Type"/>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="Trace,ColorConsole,TimberMill"/>
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
