<?xml version="1.0" encoding="utf-8" ?>
<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
                xmlns:nlog="http://www.nlog-project.org/schemas/NLog.xsd">

  <nlog:nlog>
    <nlog:targets>
      <nlog:target>
        <nlog:target
          name="TimberMill"
          endpointAddress="https://localhost/TimberMillDev/Data/LogReceiverService.svc"
          clientId="ConsoleAppTester|devRelease"
          xdt:Transform="SetAttributes"
          xdt:Locator="Match(name)" />
        </nlog:target>
    </nlog:targets>
  </nlog:nlog>
  
</configuration>