<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add  name="TimberMillDbContext"
					connectionString="Application Name=TimberMill.Tests;Data Source=localhost\sql2012;Initial Catalog=TimberMillTests;User Id=timbermill_user;Password=Dk6^6kWrt;Trusted_Connection=False;Persist Security Info=True;Connect Timeout=5;"
					providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>